body{
    background: black;
}
.container{
    background: white;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: auto;
    margin-top: 100px;
}
